body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#description {
    z-index: 100;
}

.box {
    position: absolute;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    border-radius: 10px;
    border: 5px #03a9f4 solid;
}

.box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #ffffff;
    text-align: center;
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

.box input[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 5px 37px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.reg {
    bottom: -50px;
    position: relative;
    margin-left: 64%;
}

.data {
    padding: 5px 40px;
    cursor: pointer;
    position: absolute;
    left: 0px;
    bottom: 20px;
}

.box input[type="checkbox"] {
    background: #03a9f4;
}

.box span {
    color: #fff;
    position: relative;
    top: -2px;
    font-family: sans-serif;
}

.box textarea {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: #fff;
}

li > label {
    line-height: 35px;
}

input:required {
    box-shadow: none;
}

textarea {
    width: 100%;
    height: 150px;
    padding-bottom: 20px;
    border-bottom-color: #03a9f4;
}

#message {
    display: none;
    color: red;
    text-align: center;
}

#notification {
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 45px;
    padding: 0px;
    background: rgb(0, 0, 0);
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px #03a9f4 solid;
    position: fixed;
}

#notification p {
    position: absolute;
    top: -10px;
    text-align: center;
    width: 100%;
    color: #bb0000;
    font-size: 18px;
    font-family: var(--righteous-font);
}